body {
    background-color: dimgray;
}
#top {
    width: 75%;
    height: 500px;
    margin: auto;
    background-color: cadetblue;
}
#upper_middle {
    width: 75%;
    height: 500px;
    margin: auto;
    background-color: skyblue;
}
#lower_middle {
    display: flex;
    width: 75%;
    height: 500px;
    margin: auto;
    background-color: gray;
    justify-content: center;
}
#bottom {
    display: flex;
    width: 75%;
    margin: auto;
    background-color: black;
}
#profileback {
    width: 350px;
    height: 350px;
    background-image: url("https://yt3.ggpht.com/ytc/AMLnZu_b08qCCoBzwY-Bx-aAPHWwNzboldTrhQ1TNZFb=s600-c-k-c0x00ffffff-no-rj-rp-mo");
    background-size: 100%;
    border-radius: 50%;
    border: white;
    border-style: solid;
    border-width: 10px;
}
#profileback:hover {
    background-image: url("https://i1.sndcdn.com/avatars-000023440200-orwnp2-t500x500.jpg");
    width: 350px;
    height: 350px;
}
#profilepic {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

#profilepic:hover {
    filter: invert(100%);
}
.media_img{
    width: 75px;
    height: 75px;
}

#textbox {
    width: 80%;
}
h2 {
    font-size: 40px;
    color: white;
}
li {
    font-size: 20px;
}
#rgb_slider {
    border-radius: 10px;
    background-color: white;
    width: 75%;
    height: 300px;
    border: black;
    border-style: solid;
    border-width: 3px;
}
.center_column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.copy_2022{
    color: white;
    font-size: 25px;
}